{% extends "temp.html" %}

{% block title %}SmartCard{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户列表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-user" width="100%">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>软件名称</th>
                                    <th>用户名</th>
                                    <th>密码</th>
                                    <th>密保问题</th>
                                    <th>密保答案</th>
                                    <th>QQ</th>
                                    <th>Email</th>
                                    <th>手机</th>
                                    <th>版本</th>
                                    <th>机器码</th>
                                    <th>Token</th>
                                    <th>在线/最大客户端</th>
                                    <th>绑定机器</th>
                                    <th>备注</th>
                                    <th>解绑时间</th>
                                    <th>到期时间</th>
                                    <th>启用</th>
                                    <th>更新时间</th>
                                    <th>创建时间</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户管理</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="myform" role="form" method="post" class="form-horizontal" action="#">
                            <div class="form-group"><label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-4"><input name="user_name" type="text" class="form-control"></div>
                                <input id="is_enable" name="is_enable" type="hidden" class="form-control" value="">
                                <button class="btn btn-primary" id="set_unbind" type="submit">解绑</button>
                                <button class="btn btn-primary" id="set_disable" type="submit">禁用</button>
                                <button class="btn btn-primary" id="set_enable" type="submit">启用</button>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">增减天数</label>
                                <div class="col-sm-4"><input id="day" name="day" type="number" class="form-control">
                                </div>
                                <button class="btn btn-primary" id="set_day" type="submit">提交</button>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">修改密码</label>
                                <div class="col-sm-4">
                                    <input id="password" name="password" type="text" class="form-control"></div>
                                <button class="btn btn-primary" id="set_password" type="submit">提交</button>
                            </div>
                        </form>
                        <div id="formMessage" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block validate %}
    <script>
        var formValidator = null
        $(document).ready(function () {

            formValidator = $("#myform").validate({
                rules: {
                    user_name: {
                        required: true
                    },
                    password: {
                        required: true
                    },
                    day: {
                        required: true,
                        number: true
                    }
                }
            });
        });
        
        $('#set_password').click(function () {
            $('#myform').attr('action', '/user/set_password');
            $("label.error").hide();
            $(".error").removeClass("error");
            formValidator.settings.ignore = "#day";
            $('.dataTables-user').DataTable().ajax.reload();
        });
        $('#set_day').click(function () {
            $('#myform').attr('action', '/user/set_terminate');
            $("label.error").hide();
            $(".error").removeClass("error");
            formValidator.settings.ignore = "#password";
            $('.dataTables-user').DataTable().ajax.reload();
        });
        $('#set_unbind').click(function () {
            $('#myform').attr('action', '/user/set_unbind');
            $("label.error").hide();
            $(".error").removeClass("error");
            formValidator.settings.ignore = "#day,#password";
            $('.dataTables-user').DataTable().ajax.reload();
        });
        $('#set_disable').click(function () {
            $('#myform').attr('action', '/user/set_enable');
            $('#is_enable').val("0");
            $("label.error").hide();
            $(".error").removeClass("error");
            formValidator.settings.ignore = "#day,#password";
            $('.dataTables-user').DataTable().ajax.reload();
        });
        $('#set_enable').click(function () {
            $('#myform').attr('action', '/user/set_enable');
            $('#is_enable').val("1");
            $("label.error").hide();
            $(".error").removeClass("error");
            formValidator.settings.ignore = "#day,#password";
            $('.dataTables-user').DataTable().ajax.reload();
        });

    </script>
{% endblock %}

{% block script %}
    <script>
        //http://datatables.club/upgrade/1.10-convert.html
        $(document).ready(function () {
            $('.dataTables-user').DataTable({
                processing: true,
                serverSide: true,
                ajax: '../user/query',
                searching: true,	//搜索栏
                ordering: true,	//是否支持排序功能
                info: true,	//显示表格信息
                paging: true,	//是否显示页码
                pageLength: 25,
                order: [[0, 'desc']],

                language: {
                    paginate: {
                        first: "首页",
                        last: "尾页",
                        previous: "上一页",
                        next: "下一页"
                    },
                    lengthMenu: "每页显示 _MENU_ 条记录",
                    zeroRecords: "没有匹配记录",
                    info: "显示 _START_ - _END_ 共 _TOTAL_ 条记录",
                    infoEmpty: "显示 0 - 0 共 0 条记录",
                    infoFiltered: "（从 _MAX_ 条数据中检索）",
                    search: "搜索：",
                    loadingRecords: "载入中...",
                    processing: "处理中...",
                    buttons: {
                        copyTitle: '复制成功',
                        copyKeys: '按 <i>ctrl</i> 或 <i>\u2318</i> + <i>C</i> 复制<br>到剪贴板.<br><br>点击此消息或按ESC键取消.',
                        copySuccess: {
                            _: '复制 %d 条记录到剪贴板',
                            1: '复制 1 条记录到剪贴板'
                        }
                    }
                },

                columnDefs: [
                    {
                        targets: 0,	//对哪一列操作
                        name: "users.id",
                        render: function (data, type, row) {
                            return '<a href="/user/edit?id=' + data + '">' + data + '</a>';
                        }
                    },
                    {
                        targets: 1,
                        name: "softwares.name",
                    },
                    {
                        targets: 2,
                        name: "users.user_name",
                    },
                    {
                        targets: 3, //密码
                        visible: false,
                        searchable: false
                    },
                    {
                        targets: 4, //密保问题
                        visible: false,
                        searchable: false
                    },
                    {
                        targets: 5, //密保答案
                        visible: false,
                        searchable: false
                    },
                    {
                        targets: 6,
                        name: "users.qq",
                    },
                    {
                        targets: 7,
                        name: "users.email",
                    },
                    {
                        targets: 8,
                        name: "users.phone",
                    },
                    {
                        targets: 9,
                        name: "users.version",
                    },
                    {
                        targets: 10,
                        name: "users.serial_no",
                    },
                    {
                        targets: 11,
                        name: "users.token",
                    },
                    {
                        targets: 12,
                        name: "users.online_client_count",
                    },
                    {
                        targets: 13,
                        name: "users.is_bind",
                    },
                    {
                        targets: 14,
                        name: "users.remark",
                    },
                    {
                        targets: 15,
                        name: "users.unbind_date",
                    },
                    {
                        targets: 16,
                        name: "users.terminate_date",
                    },
                    {
                        targets: 17,
                        name: "users.is_enable",
                    },
                    {
                        targets: 18,
                        name: "users.update_time",
                    },
                    {
                        targets: 19,
                        name: "users.create_time",
                    },
                ],

                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', text: '复制'},
                    {extend: 'csv', title: '用户列表'},
                    {extend: 'excel', title: '用户列表'},
                    {extend: 'pdf', title: '用户列表'},
                    {
                        extend: 'print', text: '打印', title: '用户列表',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

        });

    </script>

    <script>
        $(document).ready(function () {
            var options = {
                target: '#formMessage',   // target element(s) to be updated with server response
                beforeSubmit: showRequest,  // pre-submit callback
                success: showResponse,  // post-submit callback
            };

            $('#myform').ajaxForm(options);
        });

        function showRequest(formData, jqForm, options) {
            return true;
        }

        function showResponse(responseText, statusText, xhr, $form) {
            if (responseText.indexOf("成功") != -1) {
                $("#formMessage").removeClass().addClass("alert alert-success");
                $("#formMessage").text(responseText);
                $("#formMessage").show();
            }
            else {
                $("#formMessage").removeClass().addClass("alert alert-danger");
                $("#formMessage").text(responseText);
                $("#formMessage").show();
            }

            $('.dataTables-user').DataTable().ajax.reload();
        }
    </script>
{% endblock %}
